@page
@model DZ_20220710_Razor.Pages.RestaurantModel
@{
}

<div class="text-center">
    <p>Random Letter:<a href="Index">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button href="Index">Вернутись</button>
    <h1>Ресторан "Машівський Бір"</h1>
    <h3>
        Двоповерховий ресторан зі зрубу на 110 осіб. Ресторан оформлений в стилі української хати - чистої,
        просторої з привітними хазяйками і ароматами приготовлених смачних страв української та європейської кухні.
        В закладі Вам запропонують скуштувати м`ясо дичини. Ресторан, не залишає байдужим жодного відвідувача.
        Тут кожен може обрати те, що йому до душі.Зал із опудалами тварин та дерев`яними меблями, банкетні
        зали до 20 осіб. Ми запрошуємо Вас відсвяткувати дні народження, корпоративи - серед українського
        колориту, в умовах домашнього затишку. Приходьте до нас поснідати, пообідати, просто поїсти і випити
        за здоров`я.
    </h3>

@*</div>
<div class="li">*@
    <ul>
        <li>Машівський Бір</li>
        <li>Надія</li>
        <li>Гостинний двір</li>
        <li>На xвилях Світязя</li>
        <li>Тарантелла</li>
        <li>Креденс</li>
        <li>Буг</li>
    </ul>
</div>
